@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

:root{
    --blue:#001e8c;
}

*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    font-size: 35px;
}


header img {
    margin: 10px 90px;
}
section img {
    width: 100%;
}

h2 {
    color: var(--blue);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    font-size: 25px;
    border: 1px solid var(--blue);
    border-radius: 35px;
    width: 400px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
}
form {
    margin-left: 255px;
}


button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 750px;
    display: block;
}

button:hover {
    background-color: #64c832; /* Darker shade of blue on hover */
}